
<header class="jumbotron">
  <h1 id="vegan">Veg News</h1>
  <nav class="button-group">
    <button class="btn btn-success" id="scrape" data-toggle="modal" data-target="#alertModal">Scrape New Articles</button>
    <a href="/articles/viewSaved"><button class="btn btn-success" id="viewSaved">View Saved Articles</button></a>
  </nav>
</header>
<div class="filler"></div>
 <div class="container">
{{#each articles}}
  {{#unless saved}}
 
      <div class="card" style="width: 18rem;">
          <a href="{{storyUrl}}"><img class="card-img-top" src="{{imgUrl}}" alt="Card image Cap"></a>
          <div class="card-body">
            <h5 class="card-title">{{headline}}</h5>
            <p class="card-text">{{summary}}</p>
            <button class="saveArticle btn btn-success" data-id="{{_id}}">Save Article</button>
          </div>
      </div>
    
  {{/unless}}
{{/each}}
 </div>

{{!-- Modal for alerting number of scraped articles --}}
<div id="alertModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h2>You have scraped <span id="numArticles"></span> new articles</h2>
      </div>
    </div>
  </div>
</div>

{{!-- error modal --}}
<div id="error" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h2>There was an error processing your request.  Please try again later.</h2>
      </div>
    </div>
  </div>
</div>
